body {
  background-color: #ffd6e0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d6d;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#yes {
  background-color: #ff4d6d;
  color: white;
}

#no {
  background-color: #ccc;
}